@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Que Hacer!</title>
    <link rel="stylesheet" type="text/css" href="Content/css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" type="text/css" href="Content/css/main.css"> 
    <!--[if IE]> <link type="text/css" rel="stylesheet" href="Content/css/main_IEonly.css" /> <![endif]-->
</head>
<body>
    <div id="main" class="CenterContent">
        <h1>Que Hacer!</h1>
        <span>Getting things done one task at a time.</span>
        <div id="TopBar">
            <button id="AddTask" class="greenBtn" style="margin-left: -1px;">Add a New Task</button>
            <span id="FilterTask" class="fakeURL">filter tasks</span>
        </div>
        <div>
            <div id="Menu">
                <ul class="TimeFilter">
                   <li><a href="#"><span>All</span></a></li>
                   <li><a href="#"><span>Today</span></a></li>
                   <li><a href="#"><span>Tomorrow</span></a></li>
                   <li><a href="#"><span>This Week</span></a></li>
                   <li><a href="#"><span>Next Week</span></a></li>
                   <li><a href="#"><span>This Month</span></a></li>
                </ul>
                <br />
                <ul class="StatusFilter">
                    <li><a href="#"><span>Completed</span></a></li>
                    <li><a href="#"><span>Overdue</span></a></li>
                    <li><a href="#"><span>Ignoring</span></a></li>
                </ul>
            </div>
            <div id="TasksContainer" class="BoxGlow_Grey">
                <table>
                    <tbody>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><p>Get Raven's birthday gift</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>3/12/13</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><p>Pickup milk</p></td>
                            <td><button class="greenBtn2">complete</button></td>
                            <td>6/4/13</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="NewTask" class="BoxGlow_White">
        <div id="ntTop">
            <span id="DueDate" class="fakeURL">Add due date</span>
            <div id="ntCategoryContainer">
                <span>category:</span>
                <input id="ntCategory" type="text" class="GlowTextbox" />
            </div>
        </div>
        <div id="ntContent">
            <textarea id="ntTaskDesc" class="GlowTextbox" ></textarea>
        </div>
        <div id="ntBottom">
            <button class="greenBtn3">Save & Close</button>
            <button class="blueBtn3">Save & Add Another</button>
            <button class="redBtn3">Close</button>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="Content/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="Content/js/underscore-min.js"></script>
    <script src="App/TodoDB?@DateTime.Now.Ticks"></script>
    <script src="Content/js/main.js"></script>
</body>
</html>
