@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Que Hacer!</title>
    <link rel="stylesheet" type="text/css" href="Content/css/main.css"> 
    <!--[if IE]> <link type="text/css" rel="stylesheet" href="Content/css/main_IEonly.css" /> <![endif]-->
</head>
<body>
    <div id="main" class="CenterContent">
        <h1>Que Hacer!</h1>
        <span>Getting things done one task at a time.</span>
        <div id="TopBar">
            <button class="greenBtn" style="margin-left: -1px;">Add a New Task</button>
        </div>
        <div>
            <div id="Menu">
                <ul class="TimeFilter">
                   <li><a href="#"><span>All</span></a></li>
                   <li><a href="#"><span>Today</span></a></li>
                   <li><a href="#"><span>Tomorrow</span></a></li>
                   <li><a href="#"><span>This Week</span></a></li>
                   <li><a href="#"><span>Next Week</span></a></li>
                   <li><a href="#"><span>This Month</span></a></li>
                </ul>
                <br />
                <ul class="StatusFilter">
                    <li><a href="#"><span>Completed</span></a></li>
                    <li><a href="#"><span>Overdue</span></a></li>
                    <li><a href="#"><span>Ignoring</span></a></li>
                </ul>
            </div>
            <div id="TasksContainer" class="BoxGlow_Grey">

            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="Content/js/main.js"></script>
    <script src="Content/js/main.js"></script>
    <script type="text/javascript">
        $("#AddTask").click(function () {
            $.ajax({
                type: "POST",
                url: "/App/AddTask/",
                dataType: "json",
                //data: JSON.stringify(packet),
                contentType: 'application/json; charset=utf-8',
                processData: false,
                cache: false,
                success: function (result) {
                    callback(result.status);
                }
            });
        });
    </script>
</body>
</html>
