@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Que Hacer!</title>
</head>
<body>
    <div>
        Que Hacer!
    </div>
</body>
</html>
