/* Specific Classes */
#TopBar {
    margin: 5px 0px 5px 0px;
} 
#main {
    width:900px;
}
.filterStyle {
    float:right;
    margin-top: -16px;
}
#Menu {
    float:left;
    width: 105px;
    font-size: 12pt;
}
    #Menu ul {
        list-style-type: none;
        margin:0;
        padding:0;
        background:#666; 
    }
    #Menu li {
        padding: 5px;
    }
    #Menu li a {
        color: #fff;
        cursor: pointer;
        display:block;
        height:25px;
        line-height: 25px;
        text-indent: 10px;
        text-decoration:none;
        width:100%;
    } 
    #Menu a:hover{
     text-decoration:underline;
    }
 
    #Menu li:hover {
     background: #f90;
     position: relative;
    }
    #Menu li.selected {
        background: #f90;
        position: relative;
    }
    #Menu li.selected:hover {
     cursor:default;
    }
    #Menu li.selected:hover a:hover{
     text-decoration:none;
     cursor:default;
    }
#TasksContainer {
    float:left;
    width: 795px;
    height: 500px;
    background-color:#ffffff;
    overflow:auto;
}
    #TasksContainer table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin:0;
    }
    #TasksContainer table td {
        background: #e8edff;
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
        padding: 5px;
    }
    #TasksContainer table p {
        margin:0;
    }
    #TasksContainer table tr
    {
        height: 34px;
    }
    #TasksContainer table tr:hover td {
        background: #d0dafd;
        color: #339;
        cursor:pointer;
    }
    #TasksContainer table tr td:first-child {
        font-size:14pt;
        font-family: sans-serif;
        background-color: #E7E3E1;
        color: #fff;
        text-align:center;
        width:20px;
    }
    #TasksContainer table td:nth-child(2) {

    }
    #TasksContainer table td:nth-child(3) {
        width:145px;
    }
    #TasksContainer table td:nth-child(4) {
        width:70px;
    }
.NoTasks {
    padding: 20px;
    font-size: 14pt;
}
.DeleteTask {
    font-size:10pt;
    float: right;
}
.TaskControls {
    display:none;
}
#CategoryList {
    overflow: auto;
    max-width: 420px;
    max-height: 280px;
    border: 1px #666 solid;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(176,176,176, 1);
    -webkit-box-shadow: 0 0 8px rgba(176,176,176, 1);
    -moz-box-shadow: 0 0 8px rgba(176,176,176, 1);
    position: absolute;
    z-index: 999;
    display: none;
    width: 100px;
    padding: 5px 10px 5px 10px;
    right: 0;
    top: 5px;
}
    #CategoryList ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #CategoryList li {
        padding: 2px 5px 2px 5px;
    }
    #CategoryList li:hover {
        background-color: #D1D1D1;
        color: #fff;
        cursor: pointer;
    }