/* Elments */
body
{
	font-family:Segoe UI;
	text-rendering: optimizeLegibility;
	margin:0;
	padding:0;
	background-repeat: no-repeat;
	background: #d7dee3; /*d7dee3*/ /* old browsers */
    background: -ms-linear-gradient(top, #FFFFFF 0%, #e5ebee 33%, #d7dee3 48%, #FFFFFF 100%) fixed;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #e5ebee 33%, #d7dee3 48%, #FFFFFF 100%) fixed; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(48%,#d7dee3), color-stop(33%,#e5ebee)) fixed;
	background: -o-linear-gradient(top, #FFFFFF 0%,#d7dee3 48%,#e5ebee 100%) fixed;
	-webkit-font-smoothing: antialiased;
}
h1 {
    margin:0;
}

/* Reusable Classes */
.CenterContent{
	display: table-cell;
	vertical-align: middle;
	display: block;
	margin: 1em auto;
	margin-top:0px;
}
.BoxGlow_Grey{
  	box-shadow: 0 0 5px rgba(176,176,176, 1);
    -webkit-box-shadow: 0 0 5px rgba(176,176,176, 1); 
    -moz-box-shadow: 0 0 5px rgba(176,176,176, 1);
}
.greenBtn {
	-moz-box-shadow: 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow: 0px 1px 0px 0px #d9fbbe;
	box-shadow: 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.greenBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.greenBtn:active {
	position:relative;
	top:1px;
}

.greenBtn2 {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:3px 18px;
	text-decoration:none;
}.greenBtn2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.greenBtn2:active {
	position:relative;
	top:1px;
}
.greenBtn2 {
    visibility:hidden;
}
.fakeURL
{
	cursor:pointer;
	text-decoration: underline;
	color:#2E6D92;
}
.fakeURL:hover 
{
	text-decoration:none; 
}
 /* Specific Classes */
#TopBar {
    margin: 5px 0px 5px 0px;
} 
#main {
    width:900px;
}
#FilterTask {
    float:right;
    margin-top: 15px;
}
#Menu {
    float:left;
    width: 105px;
    font-size: 12pt;
}
    #Menu ul {
        list-style-type: none;
        margin:0;
        padding:0;
        background:#666; 
    }
    #Menu li {
        padding: 5px;
    }
    #Menu li a {
        color: #fff;
        cursor: pointer;
        display:block;
        height:25px;
        line-height: 25px;
        text-indent: 10px;
        text-decoration:none;
        width:100%;
    } 
    #Menu a:hover{
     text-decoration:underline;
    }
 
    #Menu li:hover {
     background: #f90;
     position: relative;
    }
#TasksContainer {
    float:left;
    width: 795px;
    height: 500px;
    background-color:#ffffff;
    overflow:auto;
}
    #TasksContainer table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin:0;
    }
    #TasksContainer table td {
        background: #e8edff;
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
        padding: 5px;
    }
    #TasksContainer table p {
        margin:0;
    }
    #TasksContainer table tr:hover td {
        background: #d0dafd;
        color: #339;
        cursor:pointer;
    }
    #TasksContainer table tr td:first-child {
        font-size:14pt;
        font-family: sans-serif;
        background-color: #F7977A;
        color: #fff;
        text-align:center;
        width:20px;
    }
    #TasksContainer table td:nth-child(2) {

    }
    #TasksContainer table td:nth-child(3) {
        width:75px;
    }
    #TasksContainer table td:nth-child(4) {
        width:70px;
    }